h1.proba {
    color:blueviolet;
    font-style: italic;
    font-weight: bold;
    font-family:cursive;
}
body {
background-color: chocolate;
color:cornsilk
}
h1.m1 {
    color: crimson;
}
h1 {
    color:indigo;
}